<mat-card>
  <mat-card-title>Log in</mat-card-title>

  <mat-card-content>
    <form [formGroup]="loginGroup" (submit)="submitLogin()" class="login-form">

      <div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

      <mat-form-field class="form-item">
        <input (focus)="errorMessage = ''" [(ngModel)]="emailField" formControlName="email" name="email" matInput
               placeholder="Email"
               type="email">
      </mat-form-field>

      <mat-form-field class="form-item hint-forgot">
        <input (focus)="errorMessage = ''" [(ngModel)]="passwordField" formControlName="password" name="password"
               matInput placeholder="Password"
               type="password">
        <mat-hint align="start"><a routerLink="/login/forgot-pass">forgot password</a></mat-hint>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">log in</button>

    </form>
  </mat-card-content>
</mat-card>
