<script src="../../models/Faculty.model.ts"></script>
<mat-card class="profile-card">
  <mat-card-title>Faculty Editing</mat-card-title>
  <mat-card-content class="edit-content">
    <mat-list class="edit-child">
      <mat-expansion-panel *ngFor="let item of allFaculties" class="list-items">
        <mat-expansion-panel-header class="expansion-header">
          <div class="wrapper-logo">
            <img src="{{item?.Logo}}" alt="logo - {{item?.Name}}" class="logo-image">
          </div>
          <span class="name-title">{{item?.Name}}</span>
        </mat-expansion-panel-header>
        <mat-panel-description>
          <img class="edit-button pointer" src="assets/baseline-create-24px.svg">
          <mat-list>
            <mat-list-item>
              <div class="item-detail" *ngIf="item?.Sections.length && item?.Sections[0].Address">
                Address:
                <span
                  class="item-data">{{item?.Sections[0].Address}}</span></div>
            </mat-list-item>
            <mat-list-item>
              <div class="item-detail">Phone: <span class="item-data">{{item?.Phone}}</span></div>
            </mat-list-item>
            <mat-list-item>
              <div class="item-detail">Web site: <a href="http://{{item?.WebSite}}"
                                                    class="item-data">{{item?.WebSite}}</a>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="item-detail">Email: <a href="mailto:{{item?.Email}}" class="item-data">{{item?.Email}}</a>
              </div>
            </mat-list-item>
            <mat-list-item>
              <div class="item-detail">Total Auditories Square: <span
                class="item-data">{{item?.TotalSquare}} m<sup>2</sup></span>
              </div>
            </mat-list-item>
          </mat-list>

        </mat-panel-description>
      </mat-expansion-panel>
    </mat-list>
    <form class="edit-child">
      <span class="edit-child-title">Create New Faculty</span>

      <mat-form-field>
        <input [(ngModel)]="nameField" matInput placeholder="Name" name="name">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="logoField" matInput placeholder="Type image url" name="logo">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="emailField" matInput placeholder="Email" name="email">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="phoneField" matInput placeholder="Phone" name="phone">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="webSiteField" matInput placeholder="Web Site" name="webSite">
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="selectedSection" [multiple]="true" placeholder="Select Sections"
                    name="selectedSection">
          <mat-option *ngFor="let section of sections" value="{{section?.Id}}">{{section?.Name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button *ngIf="!isEdit" routerLink="/overview" type="submit" mat-raised-button color="primary">SAVE</button>
      <button *ngIf="isEdit" routerLink="/overview" type="submit" mat-raised-button color="primary">UPDATE</button>

    </form>
  </mat-card-content>
</mat-card>
